:root{
    font-size: 62.5%;
    font-family: sans-serif;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
h3 {
    font-size: 5rem;
}
div > input {
    width:20rem;
    height: 4rem;
    border: solid 0.2rem rgb(181, 243, 255);
    border-radius: 2rem;
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
}
div > button {
    border-radius: 2rem;
    background-color: antiquewhite;
    font-size: 2rem;
    cursor: pointer;
}
